img {
    position: relative;
    left: 10px;
    width: 150px;

}

li{
    font-style: italic;
}

/* form{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
} */

body{
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}

#signUpFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#signupform{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width:50%;
    margin-bottom: 5px;
}

#signupform > fieldset > div{
    margin-bottom: 10px;
}

.card { 
    padding: 1%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 2%;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    width: 50%;
    flex-wrap: wrap;
    box-shadow:5px 5px gray

} 

.takeTitle{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    text-wrap: auto;
}

.takeAuthor{
    margin-left: 2%;
    font-style: italic;
    font-size: 1rem;
}



input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  /* height: 40%; */
  margin-left: 2%; 
  margin-right: 2%;
  margin-top: 10px;
  justify-content: center;

}

input[type="range"]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #34b1eb, #f02207);
  height: 50%;
  border-radius: 999px; 
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;  
  width: 30px;
  height: 30px;
  background-image: url("../img/fire.png"); 
  background-size: contain;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  margin-top: -10px;
  background-repeat: no-repeat;
}

.rateButtonDiv{
    display: flex;
    flex-direction: row;
    width: 96%;
    justify-content: start;
    align-items: start;
    margin-left: 2%;
    margin-right: -2%;
    margin-bottom: 10px;
}

.otherButtons{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    align-items: stretch;
    margin-bottom: 10px;
}

.starButton{
    width: 45%;
}

.reportButton{
    width: 45%;
}

.rateButton{
    width: 100%;
    /* margin-right: 2%; */
}

