img {
    position: relative;
    left: 10px;
    width: 150px;

}

li{
    font-style: italic;
}

.card {
    position: relative; 
    left: 30%;
}

/* form{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
} */

body{
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}

#signUpFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#signupform{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width:50%;
    margin-bottom: 5px;
}

#signupform > fieldset > div{
    margin-bottom: 10px;
}

.card { 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    width: 50%;
} 

.card > input[type='range']{
    width: 80%;
    align-self: center;
}


