<!DOCTYPE html>
<html>
    <head>
        <title>Hot Takes</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="pure-menu pure-menu-horizontal" class="flex-container">
            <ul class="pure-menu-list"></ul>
                <li class="pure-menu-item">
                    <img src="static/img/hot_takes_logo.png" id="logo">
                </li>
                <li class="pure-menu-item">
                    <a href="/signup" class="pure-menu-link">Sign Up</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Log In</a>
                </li>
                <li class="pure-menu-item pure-menu-selected">
                    <a href="/" class="pure-menu-link">All Takes</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Make a Take</a>
                </li>
        </div>
        <div id="cardDiv">
            {% for take in takes %}
                <div class="card">
                    <h2>{{ take.title }}</h2>
                    <span>by: {{ take.author }}</span>
                    <input type="range">
                    <button type="submit">Rate the Take</button>
                </div>
            {% endfor %}
        </div>
    </body>
</html>