<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
            integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <script src="https://accounts.google.com/gsi/client" async defer></script>
    </head>

    <body>
        <div class="pure-menu pure-menu-horizontal" class="flex-container">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <img src="static/img/hot_takes_logo.png" id="logo">
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link pure-menu-selected">Sign Up</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Log In</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/" class="pure-menu-link">All Takes</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Make a Take</a>
                </li>
            </ul>
        </div>

        <div id="signUpFormContainer">
            <form class="pure-form pure-form-stacked" id="signupform">
                <fieldset>
                    <div class="pure-control-group">
                        <h1>Sign Up</h1>
                    </div>
                    <div class="pure-control-group">
                        <label for="aligned-name">Username</label>
                        <input id="aligned-name" type="text" placeholder="Username" required/>
                    </div>
                    <div class="pure-control-group">
                        <label for="aligned-password">Password</label>
                        <input id="aligned-password" type="password" placeholder="Password" required/>
                    </div>
                    <div class="pure-control-group">
                        <label for="aligned-password">Reenter Password</label>
                        <input id="aligned-password" type="password" placeholder="Reenter Password" required/>
                    </div>
                    <div class="pure-control-group">
                        <span>Non-Hot Take: Passwords should contain at least one uppercase letter, one lowercase letter, one digit, and one special character.</span>
                    </div>
                    <div class="pure-control-group">
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="pure-u-1 pure-u-md-1-3" style="padding-left: 2rem;">
            <div id="g_id_onload" 
                data-client_id="{{ GOOGLE_CLIENT_ID }}" 
                data-auto_prompt="false"
                data-callback="handleCredentialResponse">
            </div>
            <div class="g_id_signin" 
                data-type="standard" 
                data-shape="circle" 
                data-theme="outline" 
                data-text="continue_with"
                data-size="large">
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/auth.js') }}" defer></script>
    </body>

</html>